/*
 * Fonts
 */
$font-weight-thin: 	      100;
$font-weight-ultra-light: 200;
$font-weight-light:       300;
$font-weight-normal:      400;
$font-weight-medium:      500;
$font-weight-semi-bold:   600;
$font-weight-bold:        700;
$font-weight-ultra-bold:  800;
$font-weight-black:       900;

$base-font-family:   "Montserrat", -apple-system, "Lantinghei SC", "Microsoft Yahei Light", "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$base-font-size:     18px;
$base-font-weight:   $font-weight-ultra-light;
$small-font-size:    14px;
$base-line-height:   24px;
$theme-font-family:  "Montserrat";

/*
 * Colors
 */
$white-color:             #FFF;

$gray-color-white:        #F9F9F9;
$gray-color-ultra-light:  #EEEEEE;
$gray-color-light:        #DDDDDD;
$gray-color:              #B3B3B3;
$gray-color-dark:         #808080;
$gray-color-ultra-dark:   #333333;

$title-bar-color:         #F0F0F0;

$shadow-color:            rgba(0,0,0,0.5);

$theme-color:      #F4DADC;


